* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: JetBrainsMono Nerd Font;
    font-size: 13px;
}

window#waybar {
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#workspaces {
    background-color: transparent;
}

#waybar.hidden {
    opacity: 0.5;
}

#workspaces button {
    all: initial;
    /* Remove GTK theme values (waybar #1351) */
    min-width: 0;
    /* Fix weird spacing in materia (waybar #450) */
    box-shadow: inset 0 -3px transparent;
    /* Use box-shadow instead of border so the text isn't offset */
    padding: 6px 18px;
    margin: 6px 3px;
    border-radius: 4px;
    background-color: #232a2e;
    color: #d3c5aa;
}

#workspaces button.active {
    color: #232a2e;
    background-color: #a7c080;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: #232a2e;
    background-color: #d3c6aa;
}

#workspaces button.urgent {
    background-color: #e67e80;
}

#custom-date, #clock, #battery, #pulseaudio, #network, #language, #backlight {
    background-color: #232a2e;
    padding: 5px 10px;
    margin: 5px 0px;
    color: #d3c6aa;
}

#custom-power {
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    padding: 5px 10px;
}

#clock {
    border-radius: 0px 5px 5px 0px;
    margin-right: 10px;
}

#network {
    border-radius: 5px 0px 0px 5px;
}
