# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

# Inserts a blank line between shell prompts
add_newline = false


# Move the directory to the second line
# extra space to pad start
format = """
[┌─](bold color_green)$username $hostname $directory $git_branch $git_commit $git_state $git_status $python $pulumi
[└─](bold color_green)$character
"""

palette = 'everforest'

[palettes.everforest]
color_fg0 = '#D3C6AA'
color_bg1 = '#2E383C'
color_bg3 = '#414B50'
color_blue = '#7FBBB3'
color_aqua = '#83C092'
color_green = '#A7C080'
color_orange = '#E69875'
color_purple = '#D699B6'
color_red = '#E67E80'
color_yellow = '#DBBC7F'

[character] # The name of the module we are configuring is 'character'
success_symbol = '[󰘧](bold color_green)' # The 'success_symbol' segment is being set to '➜' with the color 'bold green'

[git_branch]
symbol = ""
style = 'color_blue'
format = '[ $symbol $branch ]($style)'

[git_status]
style = "color_blue"
format = '[($all_status$ahead_behind)]($style)'

[directory]
truncate_to_repo = false
format = 'in [$path]($style)[$read_only]($read_only_style)'

[kubernetes]
disabled = false
format = 'on [$symbol$context(\($namespace\))]($style)'

[hostname]
ssh_only = false
ssh_symbol = ''
format = '[$ssh_symbol](color_green)on [$hostname](color_green)'
trim_at = '.'
disabled = false

[username]
style_user = 'color_green'
style_root = 'color_fg0'
format = '[$user]($style)'
disabled = false
show_always = true
