# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

# Inserts a blank line between shell prompts
add_newline = false


# Move the directory to the second line
# extra space to pad start
format = """
[┌─](bold color_green)$username$hostname$directory$git_branch$git_commit$git_state$git_status$python$pulumi
[└─](bold color_green)$character
"""

palette = 'gruvbox_dark'

[palettes.gruvbox_dark]
color_fg0 = '#fbf1c7'
color_bg1 = '#3c3836'
color_bg3 = '#665c54'
color_blue = '#458588'
color_aqua = '#689d6a'
color_green = '#98971a'
color_orange = '#d65d0e'
color_purple = '#b16286'
color_red = '#cc241d'
color_yellow = '#d79921'

[character] # The name of the module we are configuring is 'character'
success_symbol = '[󰘧](bold color_green)' # The 'success_symbol' segment is being set to '➜' with the color 'bold green'

[git_branch]
symbol = ""
style = 'color_blue'
format = '[ $symbol $branch ]($style)'

[git_status]
style = "color_blue"
format = '[($all_status$ahead_behind )]($style)'

[directory]
truncate_to_repo = false
format = 'in [$path]($style)[$read_only]($read_only_style) '

[kubernetes]
disabled = false
format = 'on [$symbol$context( \($namespace\))]($style)'

[hostname]
ssh_only = false
ssh_symbol = ''
format = '[$ssh_symbol](color_aqua) on [$hostname](bold color_aqua) '
trim_at = '.'
disabled = false

[username]
style_user = 'bold color_aqua'
style_root = 'color_fg0'
format = '[$user]($style)'
disabled = false
show_always = true
