# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

# A minimal left prompt w/ padding
format = """ $directory[$character](bold color_green)"""

# move the rest of the prompt to the right
right_format = """
[](color_orange)\
$os\
$username\
[](bg:color_yellow fg:color_orange)\
$git_branch\
$git_commit\
$git_status\
[](fg:color_yellow bg:color_aqua)\
$python\
[](fg:color_aqua bg:color_blue)\
$pulumi
[](fg:color_blue bg:color_bg3)\
$kubernetes\
[](fg:color_bg3 bg:color_bg1)\
$time\
[ ](fg:color_bg1)\
"""

palette = 'gruvbox_dark'

[palettes.gruvbox_dark]
color_fg0 = '#fbf1c7'
color_bg1 = '#3c3836'
color_bg3 = '#665c54'
color_blue = '#458588'
color_aqua = '#689d6a'
color_green = '#98971a'
color_orange = '#d65d0e'
color_purple = '#b16286'
color_red = '#cc241d'
color_yellow = '#d79921'

# LEFT SIDE
[directory]
format = "[$path ]($style)"
truncation_length = 3
truncation_symbol = ".../"

[character] # The name of the module we are configuring is 'character'
success_symbol = '[󰘧](bold color_green)' 
error_symbol = '[󰘧](bold fg:color_red)'
vimcmd_symbol = '[](bold fg:color_green)'
vimcmd_replace_one_symbol = '[](bold fg:color_purple)'
vimcmd_replace_symbol = '[](bold fg:color_purple)'
vimcmd_visual_symbol = '[󰰫](bold fg:color_yellow)'

# RIGHT SIDE
[os]
disabled = false
style = "bg:color_orange fg:color_fg0"

[os.symbols]
Windows = "󰍲"
Ubuntu = "󰕈"
Macos = "󰀵"
Linux = "󰌽"
Fedora = "󰣛"
Arch = "󰣇"
CachyOS = "󰣇"
Pop = ""

[username]
show_always = true
style_user = "bg:color_orange fg:color_fg0"
style_root = "bg:color_orange fg:color_fg0"
format = '[ $user ]($style)'
disabled = false

[git_branch]
symbol = ""
style = "fg:color_fg0 bg:color_yellow"
format = '[ $symbol $branch ]($style)'

[git_status]
style = "fg:color_fg0 bg:color_yellow"
format = '[$all_status$ahead_behind ]($style)'
ignore_submodules = true

[python]
style = "bg:color_aqua"
symbol = ""
format = '[[ $symbol( $version) ](fg:color_fg0 bg:color_aqua)]($style)'

[kubernetes]
disabled = false
style = "bg:color_bg3"
format = '[ on $symbol$context(\($namespace\)) ]($style)'

[hostname]
ssh_only = false
ssh_symbol = ''
format = '[on $ssh_symbol$hostname](color_green)'
trim_at = '.'
disabled = false
show_always = true

[pulumi]
style = "bg:color_blue"
format = '[ via $symbol($username@)$stack]($style)'


