@define-color bg #282828;
@define-color bg-1 #3c3836;
@define-color fg #ebdbb2;
@define-color accent-aqua #8ec07c;
@define-color urgent-red #fb4934;

* {
    font-family: 'JetBrainsMono Nerd Font';
    font-size: 14px;
}

#bar {
    background-color: transparent;
}

/* Base */
.tray,
.clock,
.volume,
.sys-info,
.focused,
.battery,
.clipboard {
    color: @fg;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px 0;
    margin-left: 4px;
    transition: all 0.5s;
    transition-timing-function: ease;
}

box,
button,
label {
    background-color: transparent;
    color: @fg;
}

/*  -------- WORKSPACES ---------  */
.workspaces {
    background-color: transparent;
    margin-left: 0px;
}

.workspaces .item {
    min-width: 0;
    padding: 6px 18px;
    margin: 6px 3px;
    border-radius: 15px;
    background-color: @bg;
    color: @fg;
}

.workspaces .item.focused {
    color: @bg-dark;
    background-color: @accent-aqua;
}

.workspaces .item.urgent {
    background-color: @urgent-red;
}

/* Bindmode (submap equivalent) */
.bindmode {
    padding: 6px 18px;
    margin: 6px 3px;
    border-radius: 5px;
    background-color: @bg;
    color: @fg;
}
